body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }

  .wrapper {
    width: 430px;
    margin: 0 auto;
    height: 100%;
    padding-top: 0px;
  }
  
  #quiz {
    background-color: #34495E;
    padding-bottom: 60px;
    width: 100%;
    border-radius: 2%;
    color: #fff;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
 
  .info{
    background-color: #34495E;
  }
  
  #quiz > h1 {
    text-align: center;
    padding-top: 25px;
    font-size: 20px;
  }
  
  .questions {
    font-size: 28px;
    font-weight: 700;
    font-style: italic;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    padding: 20px;
  }
  
  .answers div {
    padding: 10px 0 0 0;
    font-size: 16px;
  }
  
  .answers div:hover {
    cursor: pointer;
    color: #FBCB43;
  }
  
  .answers {
    padding: 0px 0 10px 0px;
  }
  
  .answers div {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 15px;
    border-top: 1px solid grey;
  }
  
  .answers div:first-child {
    border: none;
  }
  
  .checker {
    display: inline-block;
    width: 200px;
    margin: 0 auto;
  }
  
  .correct{
    color: #109D59;
  }
  
  .false {
    color: #DC4437;
  }

  .arrow {
    width: 15%;
    height: 15%;
  }

  .left_a{
    float: left;
  }

  .right_a{
    float: right;
  }
  
  /* The container */
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
     top: 7px;
    left: 7px;
    width: 7px;
    height: 7px;
    border-radius: 40%;
    background: white;
  }  

  